# please keep this structure
default:
    # Name of this config file
    this_config_filename : "/myProject/code/runGenCor_ALL_Base_v2.config"

    # cluster parameters - name of the queue you want to use
    LSF_QUEUE_NAME : "normal"

    # cluster parameters - amount of memory available in queue
    LSF_MEMORY : "30000"

    # relatedness matrices names
    kinship_matrix_filename : "/myProject/data/genetic_cor_kinship_matrix.RData" #Get it from Brian Spritzer
    household_matrix_filename : 
    
    SNPnum : 638486     # Number of SNPs used to generate the Kinship matrix

    # phenotypes file name – has to include ID, covariates and the phenotypes themselves
    phenotypes_filename : "/myProject/data/Proteins_BMI.RDS" 
    
    # list of non-quantitative covariates
    factor_covariates : ["sex"]

    # list of quantitative covariates
    numeric_covariates : ["age","pc1","pc2] 

    # Name of ID field
    idfield_name : "NWD_ID"
    # list of phenotype fields
    phenotypes_fieldnames : [5-2000] #BMI Prot1 Prot2...Prot2000, single df has to contain BMI and then list of proteins, before 5 is the covariates

    #relatedness parameters - used for blocked_bootstrap, heritabilities
    relatedness_distance : 0.0625   #3rd degree relatives

    #what phenotypes compare to what other ones. Group1 <-> Group2
    phenotypes_group1 : ["BMI"] 
    phenotypes_group1_Name : "BMI"
    phenotypes_group2 : [5-2000]
    phenotypes_group2_Name : "Proteins"

    # Genetic Correlation - provide directory name for output files
    workdirname : "/myProject/output/"

    # Genetic Correlation - provide basis for file names to be generated
    outfileprefix : "GenCor_CogSleep_newKinship_Model2_All_v8"

    # Number of genetic correlations to calculate per batch
    ONEBATCH : 2

    # Number of repeats for Bootstrap per correlation. determines final possible pvalue. If 0 then only Fisher pvalues will be calculated
    BOOTSTRAP_REPEATS : 0

    ####filtering and figures
    # calculate order by clustering for corrplots. If not will use same order as in "phenotypes"
    CALC_ORDER : False

    # calculate display order for qgraphs
    CALC_ORDER_QGRAPH : True
    QGRAPH_LAYOUT_FILE : ""

    # do not display any correlations with pvalue less than this
    pvalueThreshold : 0.05

    # do not display any correlations calculated for less people than this
    peopleNumThreshold : 500

    # do not display any correlations with absolute value less than this
    correlationThreshold : 0

    #Filename for script to run on the cluster - GCTA Heritability calculations
    run_GCTA_script_filename : "/myProject/main/run_GCTA_VCs_reml_2mat_Base_All.sh"
    
    #Filename for script to run on the cluster - Distributed Genetic Correlation calculation
    run_Gencor_script_filename : "/myProject/main/runRscript_distrib_Kinship_Household_BaseModel_All_v8.sh"

    #################################################################################################################
    ##                  These are mainly internal filenames
    #################################################################################################################
    # blocked lookup generation - provide file names to be generated
    kinship_matrix_filename_blocked_lookup : "/myProject/main/genetic_cor_kinship_matrix_Base_All_lookup.RData"
    household_matrix_filename_blocked_lookup : 

    #convert data to GCTA format from R data - provide file names to be generated
    CONVERT_PHENOTYPES_toGCTA : True
    phenotypes_GCTA_prefix : "/myProject/main/genetic_cor_phenotype_baseline_GCTA"
    rerun_GCTA_script_filename : "/myProject/main/rerun_GCTA_VCs_reml_2mat_Base_All.sh"
    GCTA_cluster_filename_prefix : "/myProject/main/GCTA_VCs_pheno_NoRel3rdDeg_PCs5_2mat_Base_All"

    CONVERT_MATRICES_toGCTA : False  #if this is false, matrices generation will be skipped
    Unrelated_individuals_filename : "/myProject/main/genetic_cor_kinship_matrix_Unrelated3rdDeg.RData"
    kinship_matrix_filename_GCTA : "/myProject/main/genetic_cor_kinship_matrix_NoRel3rdDeg.GCTA"
    household_matrix_filename_GCTA : 
    two_matrix_GCTA_filename : "/myProject/main/20210511_genetic_cor_phenotype_baseline_GCTA_mgrm_K_HH.txt"

    # Prtial correlations - need to provide precalculated pairs and group file. These files can be created after regular run
    PARTIAL : False
    pairfile : ""
    grpfile : ""
